div.container {
    width: 80%;
}

div.headline {
    height: 15%;
    border: 1px solid black;
}

div.showList {
    margin-top: 2.5%;
}

p.title {
    margin:1%;
    width:70%;
    display: inline-block;
    float: left;
}
p.writer{
    margin:1%;
    width:20%;
    display: inline-block;
    float: right;
}

div.left {
    float:left;
}
div.right{
    float:right;
}

div.post{
    border-bottom: 0.5px solid gray;
    height:50px;
    padding:5px;
    position:relative;
    clear: both;
}
div.page{
    width:80%;
}
div.pagePointer{

}

div.pBox{
    /*margin:0px auto;*/
}
p{
}

input.search{
    width: 200px;
}