div.container {
    width: 80%;
}
div.content{
    padding: 1%;
    margin: 5% 0;
}
div.titleBox{
    border-bottom: 1px solid gray;
}
div.titleBox p.title{
    font-size:20px;
    margin:10px;

}

div.titleBox p.date {
    float: right;
    font-size:12px;
    margin: 10px;
}
p.written {
    font-size:15px;

}
span.tag{
    font-size:15px;
    color:dimgrey;

}
div.comment {
    font-size:15px;
    border-bottom: 1px solid gray;
    height:50px;
    margin:10px 0px;
    padding:10px;
}

button {
    float: right;

}